/* CSS for the footer section of the html */
footer {
	background-color: #FFF;
	height: 60px;
	width: 100%;
	position: fixed;
	bottom: 0;
	border-top: 1px solid #CCCCCC;
	display: flex;
	align-items: center;
	justify-content: center;
}
