/* CSS for the header section of the html */
header {
	background-color: #FFF;
	height: 70px;
	width: 100%;
	border-bottom: 1px solid #CCCCCC;
}

header span:before {
	content: url("../images/logo.png");
}
