/* CSS for the header section of the html */
header {
	background-color: #FFF;
	height: 70px;
	width: 100%;
	border-bottom: 1px solid #CCCCCC;
}

header div.header-image {
	background-image: url("../images/logo.png");
	position: relative;
	margin: auto auto 20px;
}
