/* CSS for the header section of the html */
header {
	background-color: #FFF;
	height: 70px;
	width: 100%;
	margin: 0;
	position: relative;
	border-bottom: 1px solid #CCCCCC;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
}

header span:before {
	content: url("../images/logo.png");
	padding-left: 20px;
}
