/* Css for the filters section */
div.container .filters {
	background-color: #FFF;
	height: 70px;
	width: 100%;
	border: 1px solid #DDDDDD;
	border-radius: 4px;
	display: flex;
	align-items: center;
	margin: 0;
	padding-left: 30px;
	outline: 2px solid red;
}

div.container .filters button {
	font-size: 18px;
	background-color: #FF5A5F;
	color: #FFFFFF;
	margin-left: auto;
	height: 48px;
	width: 20%;
	border: none;
	border-radius: 4px;
}

.filters button:hover {
	opacity: 0.9;
}

div.container .filters .locations {
	height: 100%;
	width: 25%;
	border-right: 1px solid #DDDDDD;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

div.container .filters .amenities {
	height: 100%;
	width: 25%;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin-right: auto;
}

div.container .filters h3 {
	font-weight: 600;
	margin: 0;
}

div.container .filters h4 {
	font-weight: 400;
	margin: 0;
	font-size: 14px;
}
