.places h1 {
	font-size: 30px;
	padding: 0;
	margin-left: 10px;
}

.places div {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.places article {
	width: 390px;
	margin: 20px;
	padding: 20px;
	border: 1px solid #FF5A5F;
	border-radius: 4px;
	box-sizing: border-box;
	position: relative;
}

.placs article div {
	position: relative;
	padding: 10px 0;
}

.places article div h2 {
	font-size: 30px;
	text-align: center;
	margin: 0;
	padding: 0;
}

.places article div .price_by_night {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	color: #FF5A5F;
	border: 4px solid #FF5A5F;
	border-radius: 100%;
	margin-right: auto;
	padding: 5px 10px;
	min-width: 60px;
	height: 60px;
	font-size: 30px;
}

.places article .information {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 80px;
	margin: 10px 0;
	padding: 0;
	border-top: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
}

div.max_guest, div.number_rooms, div.number_bathrooms {
	width: 100px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.max_guest span {
	content: url("../images/icon_group.png");
}

.number_rooms span {
	content: url("../images/icon_bed.png");
}

.number_bathrooms span {
	content: url("../images/icon_bath.png");
}

.places article .user,
.places article .description {
	display: flex;
	align-self: flex-start;
	text-align: start;
	padding: 10px 0;
}
